@INCLUDE = ../../Main/Base_doxygen.config

PROJECT_NAME           = "Photon Engine"
OUTPUT_DIRECTORY       = ../../Main/docs/Photon_Engine/
INPUT                  = ./Include/ \
                         ./Source/ \
                         ./Documentation/
HTML_EXTRA_STYLESHEET  = ../../Main/doxygen-awesome-css/doxygen-awesome.css
LAYOUT_FILE            = ../../Main/doxygen_layout.xml
GENERATE_TAGFILE       = ../../Main/docs/Photon_Engine.tag
