# prevent automatic LF to CRLF conversion for scripts
*.sh eol=lf

# IES file need CRLF to distinguish between lines of data
# (so we forbid git to mess with line endings in them)
*.ies binary
*.IES binary
