###############################################################################
# Executables & Binaries                                                      #
###############################################################################
*.exe
*.out
*.app
*.o
*.lib
*.dll
*.pyc

###############################################################################
# Common Build Output Paths (for Visual Studio mostly)                        #
###############################################################################
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

###############################################################################
# Visual Studio                                                               #
###############################################################################

# Visual Studio Cache/Options Directory
.vs/

# Visual C++ Cache Files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio Profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Cache Files (files ending in .cache can be ignored)
*.[Cc]ache
# (but keep track of directories ending in .cache)
!*.[Cc]ache/

# Visual Studio User Specific Files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific Files (MonoDevelop/Xamarin Studio)
*.userprefs

# Visual Studio CMake Integration
# (the CMake integration sometimes generates an "out" folder, even if it's 
# disabled; reason is unknown currently; still, generated content should be
# ignored)
# related: https://stackoverflow.com/questions/62577976/
/out/

###############################################################################
# Eclipse Data                                                                #
###############################################################################
.metadata/
.recommenders/
.settings/
.classpath
.project

###############################################################################
# PyCharm Project Files                                                       #
###############################################################################
.idea/

###############################################################################
# Python                                                                      #
###############################################################################

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

###############################################################################
# Visual Studio Code                                                          #
###############################################################################
.vscode/

###############################################################################
# CMake                                                                       #
###############################################################################
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

###############################################################################
# Photon-v2 Project Specific Files & Folders                                  #
###############################################################################
/build/
/*.png
/*.jpg
/*.exr
__pycache__/
/*.p2cfg
/*.log
/*.zip
cloc-1.62.exe
count.bat

# Generated code in BlenderAddon
/BlenderAddon/PhotonBlend/psdl/pysdl.py

###############################################################################
# macOS                                                                       #
###############################################################################
.DS_Store

###############################################################################
# ignore third-party libraries                                                #
###############################################################################
/ThirdParty/
/target/

###############################################################################
# ignore script output folder                                                 #
###############################################################################
/scripts/output/

###############################################################################
# ignore generated docs                                                       #
###############################################################################
doc/
docs/

###############################################################################
# HACKING REGION                                                              #
###############################################################################

# avoiding Eclipse generated src folder in root directory (Maven project)
/src/
