@INCLUDE = ./Base_doxygen.config

PROJECT_NAME           = "Photon"
OUTPUT_DIRECTORY       = ./docs/Photon/
INPUT                  = ../README.md \
                         ./Documentation/
USE_MDFILE_AS_MAINPAGE = ../README.md
HTML_EXTRA_STYLESHEET  = ./doxygen-awesome-css/doxygen-awesome.css
TAGFILES               = ./docs/Photon_Common.tag=../../Photon_Common/html/ \
                         ./docs/Photon_Engine.tag=../../Photon_Engine/html/ \
                         ./docs/Photon_CEngine.tag=../../Photon_CEngine/html/ \
                         ./docs/Photon_CLI.tag=../../Photon_CLI/html/
