@INCLUDE = ./Common_doxygen.config

PROJECT_NAME           = "Photon"
OUTPUT_DIRECTORY       = ./docs/Photon/
INPUT                  = ../README.md \
                         ./Documentation/ \
                         ./RenderTest/README.md
USE_MDFILE_AS_MAINPAGE = ../README.md
HTML_HEADER            = ./header.html
HTML_EXTRA_STYLESHEET  = ./doxygen-awesome-css/doxygen-awesome.css \
                         ./custom.css
HTML_EXTRA_FILES       = ./doxygen-awesome-css/doxygen-awesome-interactive-toc.js
LAYOUT_FILE            = ./doxygen_layout.xml
TAGFILES               = ./docs/Common.tag=../../Common/html/ \
                         ./docs/Engine.tag=../../Engine/html/ \
                         ./docs/CEngine.tag=../../CEngine/html/ \
                         ./docs/PhotonCLI.tag=../../PhotonCLI/html/ \
                         ./docs/EditorLib.tag=../../EditorLib/html/ \
                         ./docs/PhotonBlend.tag=../../PhotonBlend/html/
                         
