@INCLUDE = ../Main/Common_doxygen.config

PROJECT_NAME           = "Photon Blend"
OUTPUT_DIRECTORY       = ../Main/docs/PhotonBlend/
INPUT                  = ./README.md
USE_MDFILE_AS_MAINPAGE = ./README.md
HTML_HEADER            = ../Main/header.html
HTML_EXTRA_STYLESHEET  = ../Main/doxygen-awesome-css/doxygen-awesome.css \
                         ../Main/custom.css
HTML_EXTRA_FILES       = ../Main/doxygen-awesome-css/doxygen-awesome-interactive-toc.js
LAYOUT_FILE            = ../Main/doxygen_layout.xml
GENERATE_TAGFILE       = ../Main/docs/PhotonBlend.tag
