@INCLUDE                = doxygen.config
GENERATE_HTML           = NO
GENERATE_XML            = YES
XML_PROGRAMLISTING      = NO
XML_NS_MEMB_FILE_SCOPE  = YES
PROJECT_NAME            = "Photon"
PROJECT_BRIEF           = "Engine Docs v2.0.0"

##! M_MAIN_PROJECT_URL  = https://tzuchieh.github.io/photon_v2_what_is_photon.html
##! M_LINKS_NAVBAR1     = pages namespaces
##! M_LINKS_NAVBAR2     = annotated files