@INCLUDE = ../../Main/Base_doxygen.config

PROJECT_NAME           = "Photon Common Library"
OUTPUT_DIRECTORY       = ../../Main/docs/Photon_Common/
INPUT                  = ./README.md \
                         ./Include/ \
                         ./Source/ \
                         ./Documentation
USE_MDFILE_AS_MAINPAGE = ./README.md
HTML_EXTRA_STYLESHEET  = ../../Main/doxygen-awesome-css/doxygen-awesome.css
GENERATE_TAGFILE       = ../../Main/docs/Photon_Common.tag
