@INCLUDE = ../../Main/Base_doxygen.config

PROJECT_NAME           = "Photon Engine C API"
OUTPUT_DIRECTORY       = ../../Main/docs/Photon_CEngine/
INPUT                  = ./README.md \
                         ./Include/ \
                         ./Source/
USE_MDFILE_AS_MAINPAGE = ./README.md
HTML_EXTRA_STYLESHEET  = ../../Main/doxygen-awesome-css/doxygen-awesome.css
GENERATE_TAGFILE       = ../../Main/docs/Photon_CEngine.tag
